<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consulta-me</title>
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="stylesheet" href="">

</head>

<body>

  <header class="header">
    <div class="container header-container">
      <a class="logo" href=""><img src="" alt=""></a>

      <div class="wrapper">
        <nav class="main-nav">
          <ul class="nav-left">
            <li class="dropdown">
              <a href="" style="text-decoration: none; color: #000;">CADASTROS <i class="arrow-down"></i></a>
              <!-- <ul class="dropdown-menu">
                <li>
                  <a href="">Médicos</a>
                </li>
                <li>
                  <a href="">Consultas</a>
                </li>
              </ul> -->
            </li>
          </ul>
          <ul class="nav-right">
            <li class="dropdown">
              <a href="" style="text-decoration: none; color: #000;">Olá, <span>WILLIAM</span><i
                  class="arrow-down"></i></a>
            </li>
          </ul>
          <!-- <div class="navbar-form">
            <a href="" class="btn-link">Login</a>
          </div> -->
        </nav>

      </div>
    </div>
  </header>

  <main class="container">
    <section class="card form-card">
      <h2 class="title">Cadastro de médico</h2>

      <form method="post" action="/medicos/cadastrar/">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input id="nome" name="nome" required>
        </div>
      
        <div class="form-group">
          <label for="email">Email:</label>
          <input id="email" name="email" required>
        </div>
      
        <div class="form-group">
          <label for="crm">CRM:</label>
          <input id="crm" name="crm" required>
        </div>
      
        <div class="form-group">
          <label for="especialidade">Especialidade</label>
          <select id="especialidade" name="especialidade" required>
            <option value="" disabled selected>Selecione uma especialidade</option>
            <option value="ORTOPEDIA">ORTOPEDIA</option>
            <!-- Adicione mais opções conforme necessário -->
          </select>
        </div>
      
        <div class="buttons">
          <button type="submit" class="btn btn-primary">
            <img src="/assets/plus.png" alt="Ícone de adicionar" class="btn-icon">Cadastrar
          </button>
      
          <a href="/" class="btn btn-secondary">
            <img src="/assets/back.png" alt="Voltar" class="btn-icon">Voltar
          </a>
        </div>
      </form>
      
    </section>
  </main>

  <footer class="footer">
    <div class="container">
      <p>2025 © Desenvolvido por Aluno | Projeto fictício sem fins comerciais. </p>
    </div>
  </footer>


</body>

</html>